<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- Tabs -->

	<extension id="RevisionHistoryTab"
			   point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Revision History"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-diff.xml"/>
	</extension>


	<!-- Diff Views -->
	
	<extension id="TreeView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Tree"/>
		<class value="org.protege.editor.owl.client.diff.ui.TreeView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="ChangesView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Changes"/>
		<class value="org.protege.editor.owl.client.diff.ui.ChangesView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="ChangeDetailsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Change Details"/>
		<class value="org.protege.editor.owl.client.diff.ui.ChangeDetailsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="ConflictsGridView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Conflicts (grid)"/>
		<class value="org.protege.editor.owl.client.diff.ui.ConflictsGridView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="ConflictsListView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Conflicts (list)"/>
		<class value="org.protege.editor.owl.client.diff.ui.ConflictsListView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="AuthorView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Authors"/>
		<class value="org.protege.editor.owl.client.diff.ui.AuthorView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	<extension id="CommitView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Commits"/>
		<class value="org.protege.editor.owl.client.diff.ui.CommitView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Revision History"/>
	</extension>

	
	

</plugin>
